* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: block;
}

/*fonts*/
h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

#homepage h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

#homepage h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

/*header*/
header {
    display: flex;
    justify-content: center;
}
#logo {
    padding: 30px;
    padding-bottom: 12px;
    width: 60%;
}

/*location*/
#location {
    display: flex;
    background-color: #EAEAEA;
    padding: 15px;
    justify-content: center;
}
#city {
    display: none;
}
/*
.fa-location-dot {
    padding: 5px;
    margin-right: 10px;
}
*/

/*Presentation*/
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #F7F7F7;
}

button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
}

/*Fonctionnement*/
#howto {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}
#howto-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.howto-item {
    display: flex;
    border: 1px solid #F7F7F7;
    border-radius: 20px;
    background-color: #F7F7F7;
    padding: 25px;
}
.howto-number {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 0.9rem;
}
#howto i {
    color: #7E7E7E;
}

/*restaurants*/
#restaurants {
    margin: 50px 20px;
}

/*footer*/
footer {
    background-color: #353535;
    color: white;
}