* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: block;
}

/*fonts*/
h1, h2, h3 {
    font-family: 'Shrikhand', cursive;
}

p {
    font-family: 'Roboto', sans-serif;
}

#homepage h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

#homepage h1 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0 40px;
}
#presentation p {
    font-weight: 200;
    font-size: 1.1rem;
    text-align: center;
}
h3 {
    font-size: 1.1rem;
    font-weight: 600;
}
/*header*/
header {
    display: flex;
    justify-content: center;
}
#logo {
    padding: 30px;
    padding-bottom: 12px;
    width: 60%;
}

/*location*/
#location {
    display: flex;
    background-color: #EAEAEA;
    padding: 15px;
    justify-content: center;
    box-shadow: inset 0px 3px 6px -3px #7E7E7E;
}
#city {
    display: none;
}

.fa-location-dot {
    margin-right: 10px;
}

/*presentation*/
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    background-color: #F7F7F7;
    gap: 15px;
}

button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
}

/*Fonctionnement*/
#howto {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}
#howto-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin-top: 20px;
}
.howto-item {
    display: flex;
    border: 1px solid #F7F7F7;
    border-radius: 20px;
    background-color: #F7F7F7;
    padding: 25px;
    align-items: center;
}
.howto-number {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
    right: 35px;
    padding: 3px;
}
#howto i {
    color: #7E7E7E;
    position: relative;
    right: 15px;
    top: 3px;
}

/*restaurants*/
#restaurants {
    padding: 50px 0;
    background-color: #F7F7F7;
}
#restaurants h2 {
    padding-left: 20px;
}
.container-restaurants {
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.card-restaurant {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #eaeaea;
    height: 250px;
    width: 90%;
    margin: 0 auto;
}
.img-restaurant {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 70%;
}
.description-restaurant {
    background-color: white;
    display: flex;
    height: 30%;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
}
.text-description {
    padding: 10px;
}
.text-description p {
    font-weight: 200;
}
.fa-heart {
    font-size: 1.5rem;
    padding: 20px;
}
.new {
    color: #00886A;
    background-color: #94E2D1;
    border-radius: 5px;
    padding: 10px;
    max-width: fit-content;
    font-size: 0.8rem;
}

/*footer*/
footer {
    background-color: #353535;
    color: #E7E7E7;
}