* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    display: block;
    background-color: #F7F7F7;
}

/*fonts*/
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 1.7rem;
    font-weight: 500;
}
#homepage h1, #homepage h2, #homepage h3 {
    font-family: 'Roboto', sans-serif;
}

#homepage h1 {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    margin: 0 40px;
}
#presentation p {
    font-weight: 200;
    font-size: 1.1rem;
    text-align: center;
}
h3 {
    font-size: 1.1rem;
    font-weight: 600;
}
footer li {
    font-family: 'Roboto', sans-serif;
}

/*liens*/
a {
    text-decoration: none;
    color: initial;
}

/*header*/
header {
    display: flex;
    justify-content: center;
    padding: 30px 0 10px 0;
}

.header-logo {
    max-width: 45%;
}

/*HOMEPAGE*/
/*location*/
#location {
    display: flex;
    background-color: #EAEAEA;
    padding: 15px;
    justify-content: center;
    box-shadow: inset 0px 3px 6px -3px #7E7E7E;
}
#city {
    display: none;
}

.fa-location-dot {
    margin-right: 10px;
}

/*presentation*/
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    background-color: #F7F7F7;
    gap: 15px;
}

.order, .explore {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 8px lightgray;
    filter: brightness(1);
    transition: filter 400ms,
    box-shadow 400ms;
    font-size: 0.9rem;
    cursor: pointer;
}
.order:hover, .explore:hover {
    filter: brightness(1.1);
    box-shadow: 0 5px 10px gray;
}
.order {
    margin: 30px auto;
    padding: 15px 40px;
}

/*Fonctionnement*/

#howto {
    display: flex;
    flex-direction: column;
    margin: 50px 20px;
}
#howto-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
    margin-top: 20px;
}
.howto-item {
    display: flex;
    border: 1px solid #F7F7F7;
    border-radius: 20px;
    background-color: #F7F7F7;
    padding: 25px;
    align-items: center;
    box-shadow: 1px 5px 10px #eaeaea;
    transition: background-color 700ms,
    color 700ms,
    border 700ms;

}
.howto-item:hover {
    background-color: #F5EDFD;
    border: 1px solid #F5EDFD;
}

.howto-icon {
    color: #7E7E7E;
    position: relative;
    right: 15px;
    font-size: 1.2rem;
    min-width: 10%;
}

.howto-item:hover .howto-icon {
    color: #9356DC;
}


.howto-number {
    background-color: #9356DC;
    color: white;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
    right: 35px;
    padding: 3px;
}
/*restaurants*/

#restaurants {
    padding: 50px 0;
    background-color: #F7F7F7;
}
#restaurants h2 {
    padding-left: 20px;
}
.container-restaurants {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.card-restaurant {
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #eaeaea;
    width: 100%;
    aspect-ratio: 4/3;
    margin: 0 auto;
}
.img-restaurant {
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    height: 70%;
}
.description-restaurant {
    background-color: white;
    display: flex;
    height: 30%;
    border-radius: 0 0 20px 20px;
    justify-content: space-between;
    align-items: center;
}
.text-description {
    padding: 15px;
}
.text-description p {
    font-weight: 200;
}
.fa-heart {
    font-size: 1.5rem;
    align-self: center;
    margin-right: 15px;
}
.link-restaurant {
    position: relative;
}
.new {
    color: #00886A;
    background-color: #94E2D1;
    border-radius: 4px;
    padding: 6px 12px;
    max-width: fit-content;
    font-size: 0.8rem;
    position: absolute;
    top: 20px;
    right: 20px;
}

/*heart*/
.empty-heart {
    opacity: 1;
    transition: opacity 300ms;
}
.full-heart {
    opacity: 0;
    position: absolute;
    right: 1px;
    background: linear-gradient(250deg,#9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 300ms,
    background-color 300ms;
}

.heart-description:hover .full-heart {
    opacity: 1;
}
.heart-description:hover .empty-heart {
    opacity: 0;
}

/*footer*/
footer, footer a {
    background-color: #353535;
    color: #E7E7E7;
    display: flex;
    flex-direction: column;
}
.footer-logo {
    filter: invert(99%) sepia(17%) saturate(245%) hue-rotate(141deg) brightness(117%) contrast(100%);
    padding-left: 25px;
    width: min(140px,100%);
    padding-top: 25px;
}
footer i {
    font-size: 0.7rem;
}
.footer-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 25px 25px 40px 25px;
}
.footer-block1 {
    display: flex;
    gap: 10px;
}

/*SUBPAGES*/
/*header*/

.subheader {
    display: flex;
    padding: 30px 0 10px 0;
}
.btn-backhome {
    border: none;
    background-color: white;
    cursor: pointer;
    position: absolute;
    left: 20px;
}
.fa-arrow-left {
    font-size: 1.3rem;
    align-self: center;
}


/*restaurant*/

.img-menu {
    width: 100%;
    max-height: 260px;
    object-fit: cover;
}
.menu-image {
    position: relative;
}
.menu-wrapper {
    background-color: #F7F7F7;
    border-radius: 40px 40px 0 0;
    padding: 20px;
    position: relative;
    bottom: 55px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.title-restaurant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/*menu*/

.menu-restaurant {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.menu-card h2 {
    font-weight: 300;
    font-size: 1rem;
    position: relative;
}
.menu-card h2:after {
  content: "";
  width: 12%;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  bottom: -6px;
  left: 0;
}

.menu-card p {
    font-weight: 300;
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-card h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-item {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 1px 15px 3px #eaeaea;
    background-color: white;
    padding: 10px 0 10px 10px;
    width: 100%;
    position: relative;
    height: 62px;
    transition: border-radius 300ms;
    overflow: hidden;
}
.menu-item-text {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.menu-item-price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 20px;
    padding-left: 0;
    transition: right 400ms linear;
}
.menu-item-price p {
    font-weight: 600;
}

.menu-item-click {
    font-size: 1.3rem;
    background: #99E2D0;
    color: white;
    border-radius: 0 20px 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 300ms,
    right 1s,
    width 1s;
    position: relative;
    height: 62px;
    bottom: 10px;
    margin-left: auto;
    left: 5px;
    right: -21px;
    width: 0;
}
.menu-item:hover .menu-item-click {
    opacity: 1;
    width: 20%;
}

.menu-item:hover .menu-item-price {
    right: 45px;
}


/*rotating icon*/

.menu-item-click-icon {
    transition: transform 600ms 250ms;
}
.menu-item:hover .menu-item-click-icon {
    transform: rotate(360deg);
}

/*menu progressive appear*/


/*heart menu*/
.empty-heart2 {
    opacity: 1;
    transition: opacity 300ms;
}
.full-heart2 {
    opacity: 0;
    position: absolute;
    right: 20px;
    background: linear-gradient(250deg,#9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: opacity 300ms,
    background-color 300ms;
}

.heart-description:hover .full-heart2 {
    opacity: 1;
}
.heart-description:hover .empty-heart2 {
    opacity: 0;
}

/*mediaquery-desktop*/

@media screen and (min-width: 820px) {
    .container-restaurants {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .link-restaurant {
        width: 40%;
        flex: 20%;
    }
    #howto-container {
        flex-direction: row;
        justify-content: space-around;
    }
    .howto-item {
        width: min(100%, 300px);
    }
}


